# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Snakee.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\unity\Snakee\.idea\.idea.Snakee\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
